# Looking at correlations between Features of Company A and the Return of other Companies

Load Dependencies

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

Read in Data

In [3]:
# read in data
df = pd.read_csv("../final_data/complete_data.csv")
df = df.drop(['Unnamed: 0', 'Timestamp'], 1)
df.tail()

,ID,articleCount,avgSentiment,stdSentiment,25quantileSentiment,50quantileSentiment,75quantileSentiment,maxSentiment,minSentiment,Previous_Day_Return,Next_Day_Return
105,Tesla,297,0.065692,0.231960,-0.087833,0.05566,0.197360,0.747933,-0.64050,-0.006795,-0.027506
106,Airbus,261,-0.002624,0.262978,-0.179820,0.00000,0.162960,0.605420,-0.54918,0.021861,-0.000714
107,Allianz,195,-0.048640,0.281950,-0.290885,-0.06882,0.127410,0.565740,-0.58092,0.012064,-0.001565
108,Telefonica,115,0.088121,0.226507,-0.020130,0.07377,0.235167,0.622090,-0.56565,-0.026461,-0.036134
109,Samsung,634,0.096998,0.206897,0.000000,0.07874,0.233280,0.636900,-0.89410,-0.009068,0.002022

In [4]:
companies = df.ID.unique()
companies

array(['BASF', 'Tesla', 'Google', 'Allianz', 'Airbus', 'Apple', 'Bayer',
       'Telefonica', 'Samsung', 'BMW'], dtype=object)

Preprocessing

In [6]:
# define feature list 
features = ['articleCount', 'avgSentiment','stdSentiment',
            '25quantileSentiment', '50quantileSentiment', '75quantileSentiment',
            'maxSentiment', 'minSentiment', 'Previous_Day_Return']

# define target variable 
target_var = ['Next_Day_Return']

Samsung