In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
wd = os.getcwd()
wd

'C:\\Users\\Nils\\Documents\\KIT-TVWL\\Master\\SS 18\\KD Seminar\\Git\\mlp'

**Read in financial Data**

In [64]:
fin_data = pd.read_csv("../finance_data/data/aggregated_returns.csv", index_col=["Timestamp"], parse_dates=True)
fin_data = fin_data.drop(columns=["Unnamed: 0"])
fin_data.head()

,Samsung,Telefonica,Allianz,Total,Bayer,Tesla,Airbus,Apple,BASF,BMW,Google
Timestamp,,,,,,,,,,,
2010-06-30,-0.022990,0.031939,0.005759,-0.002937,0.005450,-0.002515,-0.002350,-0.018279,-0.003982,0.004127,-0.026947
2010-07-01,-0.010390,0.023302,-0.021987,0.013874,-0.009282,-0.081723,-0.051293,-0.012200,-0.027190,-0.047668,-0.019717
2010-07-02,0.001305,0.010501,0.004610,-0.011670,-0.026683,-0.134312,-0.018751,-0.006217,-0.001368,-0.008280,-0.034667
2010-07-06,0.010376,-0.009063,0.023455,0.005852,0.017779,-0.175470,0.019735,0.006820,0.028094,0.023085,0.001238
2010-07-07,-0.007772,0.018515,0.007211,0.035820,0.006628,-0.019430,0.023836,0.039568,-0.001796,0.019048,-0.002878

In [ ]:
fin_data_class = fin_data.applymap(lambda x: 0 if x < 0 else 1)

**Read in training Data**

In [3]:
path_to_data = "../doc2vec/data/article_vectors_2017-09-28-2018-06-18.json"

In [4]:
data = pd.read_json(path_to_data)

In [5]:
data_dict = {}

In [29]:
data.head()

,Samsung,BASF,Apple,Tesla,Airbus,Bayer,BMW,Telefonica,Google,Allianz,Total
2017-09-28,"[[-0.552128851413726, -0.530090451240539, -0.2...","[[-0.8857737779617311, -0.8993223905563351, 1....","[[-5.648899555206299, 0.49068233370780906, 2.4...","[[-2.231579303741455, -0.886823713779449, 1.01...","[[-0.53072839975357, 0.32432192564010603, 1.88...","[[1.471480727195739, 3.558146953582763, 0.6440...","[[-1.068220496177673, 1.573677778244018, -0.06...","[[2.052626371383667, 0.041730254888534005, -3....","[[-1.544253349304199, 3.114089250564575, -1.21...","[[2.391206741333008, -0.082299575209617, 0.156...","[[2.632104873657226, -0.23008343577384902, 1.1..."
2017-09-29,"[[-0.639522731304168, 0.7598133087158201, -0.1...","[[0.6212806105613701, -0.83939903974533, -0.08...","[[-0.648758769035339, 0.943927347660064, 0.671...","[[0.42689558863639804, -1.16603410243988, 0.38...","[[0.8344506621360771, 0.623216032981872, 1.453...","[[1.854272007942199, -1.158918976783752, 0.097...","[[-1.720371723175048, -1.476398110389709, 1.00...","[[-0.310520142316818, -1.5644110441207881, -1....","[[-1.765268325805664, 1.161336660385131, 1.157...","[[2.943969249725342, -0.533598780632019, -2.32...","[[1.171216964721679, -1.4545772075653072, 0.73..."
2017-10-02,"[[0.175294339656829, 0.15604755282402002, 1.77...","[[-4.927269458770752, 0.007559691555798001, 0....","[[1.444888591766357, -2.713039875030517, -3.32...","[[-1.203286409378051, 0.062121365219354005, 4....","[[1.9028640985488892, -0.26931756734848, 2.894...","[[0.390158265829086, -0.528901576995849, -0.08...","[[-2.192170143127441, 0.586103379726409, 3.417...","[[-1.700117230415344, 2.280802488327026, 0.327...","[[-0.138544932007789, -2.453397750854492, -1.0...","[[0.280443459749221, 1.030984163284301, 0.1632...","[[0.054529048502445006, 2.157958030700683, 0.5..."
2017-10-03,"[[0.064495466649532, 1.207448601722717, 2.3027...","[[1.692309617996215, -4.035394668579102, 2.495...","[[-0.9460430145263671, 2.5776865482330322, -0....","[[-0.705000340938568, -1.371611356735229, -0.1...","[[1.7261496782302852, 2.136397361755371, -0.55...","[[0.7974172234535211, 0.5480992197990411, 0.43...","[[-0.24589551985263802, -0.950033843517303, 1....","[[-0.624772369861602, -1.542417287826538, -0.7...","[[1.123395204544067, 1.867977499961853, 1.1496...","[[0.933492958545684, 1.7280206680297852, 0.830...","[[0.30901181697845403, -0.19652029871940602, 1..."
2017-10-04,"[[-0.46415963768959, 0.091440618038177, -0.129...","[[1.9889962673187251, -1.6416510343551631, 1.0...","[[1.641998529434204, 0.40913537144660905, 1.09...","[[2.450612783432007, -1.144301414489746, 1.705...","[[-0.6751444339752191, -0.36086100339889504, -...","[[1.279866933822631, -0.47777470946311906, -2....","[[0.195936650037765, -1.030936479568481, 2.539...","[[2.057091474533081, -0.380810230970382, -0.72...","[[-0.746309459209442, -0.43328207731246904, 1....","[[1.625936269760131, 0.703213155269622, -2.736...","[[0.586480438709259, 0.129928439855575, -2.131..."

In [72]:
fin_data_dates = fin_data.index.date.tolist()
data_dates = data.index.date.tolist()

In [90]:
available_dates = list(set(fin_data_dates).intersection(data_dates))
fin_data_class = fin_data_class[fin_data_class.index.isin(available_dates)]
data = data[data.index.isin(available_dates)]

In [97]:
data.shape

(148, 11)

In [96]:
len(available_dates)

148

In [102]:
X = []

In [103]:
for idx, row in data.iterrows():
    print(idx.date())
    tmp = data.loc[idx].values
    tmp_data = []
    for i,r in enumerate(tmp):
        #print(type(r))
        
        if hasattr(r, 'shape') and r.shape[0] :
            #print(type(r))
            r = np.array(r)
            if r.shape != (50,100):
                print(r.shape)
            p = 50-r.shape[0]
            r = np.pad(r, ((0,p),(0,0)), "constant")
        else:
            r = np.zeros((50,100))
        tmp_data.append(r)
    tmp_data = np.array(tmp_data)
    tmp_data = tmp_data.reshape((50,100,11))
    X.append(tmp_data)
    #data_dict[idx.date()] = tmp

2017-09-28
2017-09-29
2017-10-10
2017-10-11
2017-10-12
2017-10-13
2017-10-16
2017-10-17
2017-10-18
2017-10-19
2017-10-20
2017-10-23
2017-10-24
2017-10-25
2017-10-26
2017-10-27
2017-10-30
2017-10-31
2017-11-01
2017-11-02
2017-11-03
2017-11-06
2017-11-07
2017-11-08
2017-11-09
2017-11-10
2017-11-13
2017-11-14
2017-11-15
2017-11-16
2017-11-17
2017-11-20
2017-11-21
2017-11-22
2017-11-24
2017-11-27
2017-11-28
2017-11-29
2017-11-30
2017-12-01
2017-12-04
2017-12-05
2017-12-06
2017-12-07
2017-12-08
2017-12-11
2017-12-12
2017-12-13
2017-12-14
2017-12-15
2017-12-18
2017-12-19
2017-12-21
2017-12-22
2017-12-27
2017-12-28
2018-01-02
2018-01-03
2018-01-04
2018-01-05
2018-01-08
2018-01-09
2018-01-10
2018-01-11
2018-01-12
2018-01-16
2018-01-17
2018-01-18
2018-01-19
2018-01-22
2018-01-23
2018-01-24
2018-01-25
2018-01-26
2018-01-29
2018-01-30
2018-01-31
2018-02-01
2018-02-02
2018-02-05
2018-02-06
2018-02-07
2018-02-08
2018-02-09
2018-02-12
2018-02-13
2018-02-14
2018-02-20
2018-02-21
2018-02-22
2018-02-23
2018-02-26
2018-02-27
2018-02-28
2018-03-02
2018-03-05
2018-03-06
2018-03-07
2018-03-08
2018-03-09
2018-03-12
2018-03-13
2018-03-14
2018-03-15
2018-03-16
2018-03-19
2018-03-20
2018-03-21
2018-03-22
2018-03-23
2018-03-26
2018-03-27
2018-03-28
2018-03-29
2018-04-03
2018-04-04
2018-04-05
2018-04-06
2018-04-09
2018-04-10
2018-04-11
2018-04-12
2018-04-13
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20
2018-04-23
2018-04-24
2018-04-25
2018-04-26
2018-04-27
2018-04-30
2018-05-02
2018-05-03
2018-05-04
2018-05-08
2018-05-09
2018-05-10
2018-05-11
2018-05-14
2018-05-15
2018-05-16
2018-05-17
2018-05-18
2018-05-21
2018-05-23

In [106]:
#X = np.array(final_d)
X = np.array(X)
X.shape

(148, 50, 100, 11)

In [107]:
Y = fin_data_class.values
Y.shape

(148, 11)

**CNN**

In [119]:
from sklearn.model_selection import train_test_split

from keras import backend as k_backend
import keras

from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D

In [112]:
x_train, x_val, y_train, y_val = train_test_split(X, Y, test_size=0.3, random_state=212134)

In [124]:
x_train.shape

(103, 50, 100, 11)

In [125]:
num_classes=11
num_filter= 200
filter_sizes = [3,4,5]
embedding_dim = x_train.shape[2]
sequence_length = X.shape[1]

In [137]:
def custom_tanh(x):
    return (K.tanh((2/3)*x) * 1.5)#1.7159) #(2/3)

In [138]:
model = Sequential()
model.add(Conv2D(num_filter, kernel_size=(filter_sizes[0], embedding_dim), padding='same',input_shape=x_train.shape[1:], 
                 data_format="channels_last", activation="relu"))

model.add(Conv2D(num_filter, kernel_size=(filter_sizes[1], embedding_dim), padding='same', activation="relu"))

model.add(MaxPooling2D(pool_size=(sequence_length - filter_sizes[0] + 1, 1), strides=(1,1)))

#model.add(Conv2D(num_filter, kernel_size=(filter_sizes[1], embedding_dim), activation="relu"))
#model.add(MaxPooling2D(pool_size=(sequence_length - filter_sizes[1] + 1, 1), strides=(1,1)))
#model.add(Activation('relu'))

model.add(Dropout(0.25))

#model.add(Conv2D(64, (3, 3), padding='same'))
#model.add(Activation('relu'))
#model.add(Conv2D(64, (3, 3)))
#model.add(Activation('relu'))
#model.add(MaxPooling2D(pool_size=(2, 2)))
#model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(256, activation=custom_tanh))
#model.add(Activation('relu'))
model.add(Dropout(0.4))
model.add(Dense(num_classes, activation="sigmoid"))

In [ ]:
# initiate RMSprop optimizer
opt = keras.optimizers.rmsprop(lr=0.0001, decay=1e-6)

# Let's train the model using RMSprop
model.compile(loss='binary_crossentropy',
              optimizer="adam",
              metrics=['accuracy'])

model.fit(x_train, y_train, validation_data = (x_val, y_val), epochs=10, batch_size=20, verbose=2)

Train on 103 samples, validate on 45 samples
Epoch 1/10
 - 2965s - loss: 0.6931 - acc: 0.5225 - val_loss: 0.6928 - val_acc: 0.5131
Epoch 2/10