In [1]:
import pandas as pd
import numpy as np

import os
wd = os.getcwd()
wd

'C:\\Users\\Nils\\Documents\\KIT-TVWL\\Master\\SS 18\\KD Seminar\\Git\\mlp'

In [2]:
df = pd.read_csv("../final_data/complete_data.csv")
df.Timestamp = pd.to_datetime(df.Timestamp)
df = df.drop(["Unnamed: 0"], axis=1)
df.head()

,Timestamp,ID,articleCount,avgSentiment,stdSentiment,25quantileSentiment,50quantileSentiment,75quantileSentiment,maxSentiment,minSentiment,socialScore,nbOfDuplicates,Previous_Day_Return,Next_Day_Return
0,2017-06-01,Samsung,50,0.165618,0.171879,0.084830,0.182180,0.267473,-0.392611,0.46335,1922,2,-0.000448,0.028245
1,2017-06-01,Apple,50,0.160381,0.204606,0.045303,0.205475,0.304395,-0.486920,0.48226,14547,4,0.002746,0.014710
2,2017-06-01,Airbus,50,0.175252,0.163460,0.076917,0.163210,0.301123,-0.128650,0.46700,1218,5,0.029297,0.004381
3,2017-06-01,Bayer,50,0.279171,0.181638,0.093412,0.279715,0.386053,-0.031140,0.71335,8477,7,0.008012,0.021193
4,2017-06-01,BMW,50,0.079084,0.205928,0.038152,0.111880,0.210670,-0.537689,0.35647,3539,1,0.019381,0.011823

In [3]:
df.columns

Index(['Timestamp', 'ID', 'articleCount', 'avgSentiment', 'stdSentiment',
       '25quantileSentiment', '50quantileSentiment', '75quantileSentiment',
       'maxSentiment', 'minSentiment', 'socialScore', 'nbOfDuplicates',
       'Previous_Day_Return', 'Next_Day_Return'],
      dtype='object')

**For now, drop every Column related to IBM**

In [10]:
df = df.dropna(axis=1, how="all")
df.head()

,25quantileSentiment,50quantileSentiment,75quantileSentiment,ID,Timestamp,analytical_count,anger_count,articleCount,avgSentiment,confident_count,fear_count,ibm_articleCount,joy_count,maxSentiment,minSentiment,sadness_count,stdSentiment,tentative_count,Previous_Day_Return,Next_Day_Return
0,-0.055740,0.000000,0.103619,Bayer,2018-05-02,NaN,NaN,3035,0.024029,NaN,NaN,NaN,NaN,0.68469,-0.512460,NaN,0.166494,NaN,0.003419,0.003507
1,-0.230230,-0.094850,0.091920,Allianz,2018-05-02,NaN,NaN,121,-0.052265,NaN,NaN,NaN,NaN,0.58215,-0.662970,NaN,0.264638,NaN,0.013549,-0.009181
2,-0.070315,0.072627,0.202486,Tesla,2018-05-02,NaN,NaN,510,0.068932,NaN,NaN,NaN,NaN,0.64572,-0.503000,NaN,0.173565,NaN,0.004093,-0.057051
3,-0.056716,0.029800,0.205750,Apple,2018-05-02,NaN,NaN,3116,0.050277,NaN,NaN,NaN,NaN,0.92600,-0.886267,NaN,0.217317,NaN,0.043227,0.001811
4,-0.189105,0.000000,0.134490,BMW,2018-05-02,NaN,NaN,500,-0.013354,NaN,NaN,NaN,NaN,0.93410,-0.676800,NaN,0.233298,NaN,0.006682,-0.010041

In case financial Data is not complete, Drop days without financial data

In [12]:
df = df.dropna(axis=0, how="any")
df

,25quantileSentiment,50quantileSentiment,75quantileSentiment,ID,Timestamp,analytical_count,anger_count,articleCount,avgSentiment,confident_count,fear_count,ibm_articleCount,joy_count,maxSentiment,minSentiment,sadness_count,stdSentiment,tentative_count,Previous_Day_Return,Next_Day_Return
120,0.045730,0.161330,0.284240,Google,2018-05-21,0.0,0.0,1225,0.154012,0.0,0.0,0.0,0.0,-0.548100,0.858800,0.0,0.203818,0.0,0.003055,-0.011244
121,-0.136990,0.037860,0.156510,Tesla,2018-05-21,0.0,0.0,361,0.037883,0.0,0.0,0.0,0.0,-0.441986,0.639367,0.0,0.184853,0.0,0.027331,0.014655
122,0.005672,0.168750,0.310433,Airbus,2018-05-21,0.0,0.0,66,0.164733,0.0,0.0,0.0,0.0,-0.341900,0.533870,0.0,0.229539,0.0,0.000000,-0.017312
123,0.128430,0.250895,0.347670,Bayer,2018-05-21,0.0,0.0,238,0.249125,0.0,0.0,0.0,0.0,-0.207700,0.713530,0.0,0.171248,0.0,0.000000,-0.022140
124,0.075980,0.169850,0.272675,BMW,2018-05-21,0.0,0.0,169,0.162243,0.0,0.0,0.0,0.0,-0.796400,0.620920,0.0,0.212629,0.0,0.000000,-0.020353
125,0.118570,0.200840,0.301400,BASF,2018-05-21,0.0,0.0,103,0.218065,0.0,0.0,0.0,0.0,-0.082870,0.531520,0.0,0.128144,0.0,0.000000,-0.023093
126,0.348430,0.412570,0.417530,Telefonica,2018-05-21,0.0,0.0,26,0.361680,0.0,0.0,0.0,0.0,0.051060,0.460550,0.0,0.096824,0.0,0.003265,-0.006431
127,0.035100,0.178280,0.278057,Apple,2018-05-21,0.0,0.0,917,0.166774,0.0,0.0,0.0,0.0,-0.582450,0.694250,0.0,0.184267,0.0,0.007060,0.006391
128,0.080300,0.167788,0.253690,Allianz,2018-05-21,0.0,0.0,33,0.178543,0.0,0.0,0.0,0.0,-0.075370,0.533870,0.0,0.157595,0.0,0.000000,-0.020438
129,-0.317590,-0.069190,0.112530,Total,2018-05-21,0.0,0.0,50,-0.082267,0.0,0.0,0.0,0.0,-0.669800,0.334990,0.0,0.250963,0.0,-0.004280,0.003391
130,0.063640,0.153905,0.271969,Samsung,2018-05-21,0.0,0.0,432,0.169286,0.0,0.0,0.0,0.0,-0.397360,0.706600,0.0,0.164844,0.0,0.010050,0.035367

In [4]:
df["relabeled_returns"] = df["Next_Day_Return"].apply(lambda x: -1 if x < 0 else 1)
df.head()

,Timestamp,ID,articleCount,avgSentiment,stdSentiment,25quantileSentiment,50quantileSentiment,75quantileSentiment,maxSentiment,minSentiment,socialScore,nbOfDuplicates,Previous_Day_Return,Next_Day_Return,relabeled_returns
0,2017-06-01,Samsung,50,0.165618,0.171879,0.084830,0.182180,0.267473,-0.392611,0.46335,1922,2,-0.000448,0.028245,1
1,2017-06-01,Apple,50,0.160381,0.204606,0.045303,0.205475,0.304395,-0.486920,0.48226,14547,4,0.002746,0.014710,1
2,2017-06-01,Airbus,50,0.175252,0.163460,0.076917,0.163210,0.301123,-0.128650,0.46700,1218,5,0.029297,0.004381,1
3,2017-06-01,Bayer,50,0.279171,0.181638,0.093412,0.279715,0.386053,-0.031140,0.71335,8477,7,0.008012,0.021193,1
4,2017-06-01,BMW,50,0.079084,0.205928,0.038152,0.111880,0.210670,-0.537689,0.35647,3539,1,0.019381,0.011823,1

In [49]:
len(df["ID"].unique())

11

In [50]:
df.shape
no_companies = len(df["ID"].unique())
nr_days = int(df.shape[0] / no_companies)
nr_feats = df.shape[1] -4 #(-3 wegen Timestamp, ID, Next_Day_Return, relabeled_returns)
print("Days {}".format(nr_days))
print("Features {}".format(nr_feats))

Days 99
Features 11

In [6]:
df["Timestamp"].value_counts()

2017-10-30    11
2017-06-14    11
2017-10-27    11
2017-08-09    11
2017-07-06    11
2017-06-02    11
2017-07-17    11
2017-08-31    11
2017-06-13    11
2017-07-28    11
2017-09-11    11
2017-10-26    11
2017-08-08    11
2017-07-05    11
2017-06-01    11
2017-08-30    11
2017-06-12    11
2017-07-27    11
2017-10-25    11
2017-06-23    11
2017-08-07    11
2017-09-21    11
2017-08-18    11
2017-09-12    11
2017-10-16    11
2017-10-13    11
2017-09-01    11
2017-09-26    11
2017-08-23    11
2017-06-05    11
              ..
2017-08-24    11
2017-07-21    11
2017-10-19    11
2017-08-01    11
2017-06-08    11
2017-07-12    11
2017-10-24    11
2017-09-29    11
2017-06-22    11
2017-09-20    11
2017-07-03    11
2017-08-17    11
2017-07-14    11
2017-08-28    11
2017-10-12    11
2017-07-25    11
2017-09-08    11
2017-10-23    11
2017-06-21    11
2017-09-19    11
2017-08-16    11
2017-07-13    11
2017-10-11    11
2017-06-09    11
2017-07-24    11
2017-09-07    11
2017-06-20    11
2017-08-04    11
2017-09-18    11
2017-06-28    11
Name: Timestamp, Length: 99, dtype: int64

In [79]:
df.tail()

,Timestamp,ID,articleCount,avgSentiment,stdSentiment,25quantileSentiment,50quantileSentiment,75quantileSentiment,maxSentiment,minSentiment,Previous_Day_Return,Next_Day_Return,relabeled_returns
105,2018-05-17,Tesla,297,0.065692,0.231960,-0.087833,0.05566,0.197360,0.747933,-0.64050,-0.006795,-0.027506,-1
106,2018-05-17,Airbus,261,-0.002624,0.262978,-0.179820,0.00000,0.162960,0.605420,-0.54918,0.021861,-0.000714,-1
107,2018-05-17,Allianz,195,-0.048640,0.281950,-0.290885,-0.06882,0.127410,0.565740,-0.58092,0.012064,-0.001565,-1
108,2018-05-17,Telefonica,115,0.088121,0.226507,-0.020130,0.07377,0.235167,0.622090,-0.56565,-0.026461,-0.036134,-1
109,2018-05-17,Samsung,634,0.096998,0.206897,0.000000,0.07874,0.233280,0.636900,-0.89410,-0.009068,0.002022,1

In [30]:
X = []#np.empty((int(nr_days) ,int(nr_feats * 10)))

In [71]:
df[df["Timestamp"] == "2017-06-09"].drop(labels_to_drop, axis=1)

,articleCount,avgSentiment,stdSentiment,25quantileSentiment,50quantileSentiment,75quantileSentiment,maxSentiment,minSentiment,socialScore,nbOfDuplicates,Previous_Day_Return
55,50,0.064389,0.170300,-0.053773,0.088515,0.148540,-0.286730,0.471467,2222,3,-0.017838
56,50,-0.021494,0.206701,-0.163830,-0.017950,0.109968,-0.384340,0.443362,720,4,0.022398
57,50,0.093391,0.182092,-0.039365,0.078205,0.229063,-0.259830,0.550190,7454,2,-0.034871
58,7,0.267743,0.120840,0.223933,0.228014,0.342625,0.083660,0.429410,7,1,-0.031230
59,50,0.062489,0.147223,-0.040836,0.070840,0.145330,-0.315510,0.368650,9970,1,-0.039549
60,27,0.143952,0.190648,-0.011715,0.112060,0.186340,-0.078825,0.559510,63,0,0.010408
61,26,0.226999,0.236407,0.158572,0.274125,0.325844,-0.389470,0.662362,22,2,0.027277
62,50,0.204706,0.141717,0.101705,0.217100,0.313273,-0.064700,0.507530,22662,8,0.002523
63,50,0.199924,0.165575,0.081953,0.174050,0.312575,-0.102750,0.595100,6390,4,0.020601
64,16,0.015785,0.188809,-0.101818,0.001170,0.089185,-0.319930,0.420450,56,1,0.002020
65,50,0.071470,0.151924,-0.029622,0.058355,0.190112,-0.381060,0.347900,9325,15,0.003797

In [51]:
X = []
labels_to_drop = ["Timestamp", "ID", "Next_Day_Return", "relabeled_returns"]
for d in df["Timestamp"].value_counts().index:
    print(d)
    X.append(df[df["Timestamp"] == d].drop(labels_to_drop, axis=1).values.reshape(1,nr_feats*no_companies))
len(X)

2017-10-30 00:00:00
2017-06-14 00:00:00
2017-10-27 00:00:00
2017-08-09 00:00:00
2017-07-06 00:00:00
2017-06-02 00:00:00
2017-07-17 00:00:00
2017-08-31 00:00:00
2017-06-13 00:00:00
2017-07-28 00:00:00
2017-09-11 00:00:00
2017-10-26 00:00:00
2017-08-08 00:00:00
2017-07-05 00:00:00
2017-06-01 00:00:00
2017-08-30 00:00:00
2017-06-12 00:00:00
2017-07-27 00:00:00
2017-10-25 00:00:00
2017-06-23 00:00:00
2017-08-07 00:00:00
2017-09-21 00:00:00
2017-08-18 00:00:00
2017-09-12 00:00:00
2017-10-16 00:00:00
2017-10-13 00:00:00
2017-09-01 00:00:00
2017-09-26 00:00:00
2017-08-23 00:00:00
2017-06-05 00:00:00
2017-07-20 00:00:00
2017-10-18 00:00:00
2017-06-16 00:00:00
2017-07-31 00:00:00
2017-09-14 00:00:00
2017-06-27 00:00:00
2017-08-11 00:00:00
2017-09-25 00:00:00
2017-08-22 00:00:00
2017-07-19 00:00:00
2017-10-17 00:00:00
2017-06-15 00:00:00
2017-09-13 00:00:00
2017-06-26 00:00:00
2017-08-10 00:00:00
2017-07-07 00:00:00
2017-08-21 00:00:00
2017-07-18 00:00:00
2017-08-29 00:00:00
2017-07-26 00:00:00
2017-09-15 00:00:00
2017-10-10 00:00:00
2017-09-06 00:00:00
2017-06-19 00:00:00
2017-08-03 00:00:00
2017-11-01 00:00:00
2017-06-30 00:00:00
2017-08-14 00:00:00
2017-09-28 00:00:00
2017-07-11 00:00:00
2017-08-25 00:00:00
2017-06-07 00:00:00
2017-09-05 00:00:00
2017-10-20 00:00:00
2017-08-02 00:00:00
2017-10-31 00:00:00
2017-06-29 00:00:00
2017-09-27 00:00:00
2017-07-10 00:00:00
2017-08-24 00:00:00
2017-07-21 00:00:00
2017-10-19 00:00:00
2017-08-01 00:00:00
2017-06-08 00:00:00
2017-07-12 00:00:00
2017-10-24 00:00:00
2017-09-29 00:00:00
2017-06-22 00:00:00
2017-09-20 00:00:00
2017-07-03 00:00:00
2017-08-17 00:00:00
2017-07-14 00:00:00
2017-08-28 00:00:00
2017-10-12 00:00:00
2017-07-25 00:00:00
2017-09-08 00:00:00
2017-10-23 00:00:00
2017-06-21 00:00:00
2017-09-19 00:00:00
2017-08-16 00:00:00
2017-07-13 00:00:00
2017-10-11 00:00:00
2017-06-09 00:00:00
2017-07-24 00:00:00
2017-09-07 00:00:00
2017-06-20 00:00:00
2017-08-04 00:00:00
2017-09-18 00:00:00
2017-06-28 00:00:00

99

In [52]:
np.array(X).shape

(99, 1, 121)

In [53]:
X = np.array(X).reshape(int(nr_days), nr_feats*no_companies)
X.shape

(99, 121)

Y for Regression

In [55]:
df_labels = df[["Timestamp","Next_Day_Return"]].copy()
df_labels["Next_Day_Return"].values.reshape(nr_days, no_companies)

array([[ 0.02824548,  0.01471044,  0.00438102, ...,  0.01102099,
        -0.00152892, -0.00438006],
       [ 0.        ,  0.        , -0.00043526, ...,  0.        ,
         0.01720048,  0.00134976],
       [-0.01592476, -0.00321967, -0.01402916, ...,  0.00280112,
         0.0190883 ,  0.00033693],
       ...,
       [ 0.01906216,  0.01496218,  0.01381961, ...,  0.        ,
         0.        ,  0.        ],
       [ 0.03811681,  0.02081052,  0.01937467, ...,  0.03019974,
         0.00124835,  0.02300986],
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan]])

Y for Classification

In [56]:
df_labels = df[["Timestamp","relabeled_returns"]].copy()
df_labels["relabeled_returns"].values.reshape(nr_days, no_companies)

array([[ 1,  1,  1, ...,  1, -1, -1],
       [ 1,  1, -1, ...,  1,  1,  1],
       [-1, -1, -1, ...,  1,  1,  1],
       ...,
       [ 1,  1,  1, ...,  1,  1,  1],
       [ 1,  1,  1, ...,  1,  1,  1],
       [ 1,  1,  1, ...,  1,  1,  1]], dtype=int64)

In [154]:
#df_labels_single = df_labels.groupby("Timestamp").agg("last")

In [155]:
#df_labels_single.head()

,005930.KS,VIV,ALV.DE,TSS,BAYN.DE,TSLA,AIR.DE,AAPL,BAS.DE,BMW.DE
Timestamp,,,,,,,,,,
2018-05-02,0.000000,-0.010665,0.013549,-0.013838,0.003419,0.004093,0.007473,0.043227,0.011060,0.006682
2018-05-03,0.000000,-0.020217,-0.009181,0.008611,0.003507,-0.057051,0.000612,0.001811,-0.017219,-0.010041
2018-05-04,-0.020973,-0.008056,0.008478,0.014659,0.018926,0.033328,0.006401,0.038483,0.012625,-0.006532
2018-05-08,0.013397,-0.010487,-0.003489,0.010593,-0.003532,-0.002646,-0.002593,0.004795,0.002798,0.004142
2018-05-09,-0.032853,-0.017471,-0.008826,0.005824,0.004120,0.016031,-0.010843,0.007016,0.002906,0.000218

In [57]:
#Y = df_labels["Next_Day_Return"].values.reshape(nr_days, 10)#df_labels_single.values
Y = df_labels["relabeled_returns"].values.reshape(nr_days, no_companies)
Y.shape

(99, 11)

In [58]:
from sklearn.preprocessing import MinMaxScaler
scaler      = MinMaxScaler(feature_range=(0, 1))
rescaled    = scaler.fit_transform(X)

In [59]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, LeakyReLU

from keras import backend as K

from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping, ModelCheckpoint

from keras import optimizers
from keras.losses import binary_crossentropy
#from keras.optimizers import SGD

from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score, cohen_kappa_score

C:\Users\Nils\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [68]:
X_train, X_val, y_train, y_val = train_test_split(rescaled, Y, test_size=0.2, random_state=42)
#X_train, X_val, y_train, y_val = train_test_split(X, Y, test_size=0.2, random_state=42)

In [69]:
dims = X.shape[1]
print(dims, 'dims')
print("Building model...")

nb_classes = Y.shape[1]
print(nb_classes, 'classes')

121 dims
Building model...
11 classes

In [62]:
print(X_train.shape)
print(y_train.shape)

(79, 121)
(79, 11)

### Andi

In [76]:
model = Sequential()

# Add layers
model.add(Dense(Y.shape[1], input_shape=(dims,), kernel_initializer='uniform', activation="relu"))
model.add(Dense(Y.shape[1]**2, kernel_initializer='uniform', activation="relu"))
model.add(Dense(Y.shape[1]**2, kernel_initializer='uniform', activation="relu"))
model.add(Dense(Y.shape[1], kernel_initializer='uniform', activation="sigmoid"))

model.compile(loss="binary_crossentropy",
              optimizer="SGD",
              metrics=['accuracy']) # Accuracy performance metric

hist = model.fit(X_train, y_train,
                 epochs=100,
                 batch_size=30,
                 verbose=2,
                 validation_data=(X_val, y_val))

### PREDICTION ###
y_pred = model.predict(X_val)
y_head = np.round(y_pred, 0)

### EVALUATE Classification - MODEL ###

score = model.evaluate(X_val, y_val,verbose=1)

Train on 8 samples, validate on 3 samples
Epoch 1/100
 - 1s - loss: 0.6505 - acc: 0.2500 - val_loss: 0.4616 - val_acc: 0.1333
Epoch 2/100
 - 0s - loss: 0.5118 - acc: 0.2125 - val_loss: 0.2696 - val_acc: 0.1000
Epoch 3/100
 - 0s - loss: 0.3556 - acc: 0.1500 - val_loss: -1.5043e-02 - val_acc: 0.1000
Epoch 4/100
 - 0s - loss: 0.1434 - acc: 0.1250 - val_loss: -2.9672e-01 - val_acc: 0.0333
Epoch 5/100
 - 0s - loss: -7.0619e-02 - acc: 0.1000 - val_loss: -6.3139e-01 - val_acc: 0.0333
Epoch 6/100
 - 0s - loss: -3.0750e-01 - acc: 0.0875 - val_loss: -1.0227e+00 - val_acc: 0.0333
Epoch 7/100
 - 0s - loss: -5.6318e-01 - acc: 0.0875 - val_loss: -1.5514e+00 - val_acc: 0.0333
Epoch 8/100
 - 0s - loss: -8.9050e-01 - acc: 0.0875 - val_loss: -2.4426e+00 - val_acc: 0.0333
Epoch 9/100
 - 0s - loss: -1.4198e+00 - acc: 0.0875 - val_loss: -3.6657e+00 - val_acc: 0.0333
Epoch 10/100
 - 0s - loss: -1.7960e+00 - acc: 0.0875 - val_loss: -2.8827e+00 - val_acc: 0.0333
Epoch 11/100
 - 0s - loss: -2.0651e+00 - acc: 0.0875 - val_loss: -3.0814e+00 - val_acc: 0.0333
Epoch 12/100
 - 0s - loss: -2.4482e+00 - acc: 0.0875 - val_loss: -2.9734e+00 - val_acc: 0.0333
Epoch 13/100
 - 0s - loss: -2.6991e+00 - acc: 0.0625 - val_loss: -2.7538e+00 - val_acc: 0.0333
Epoch 14/100
 - 0s - loss: -2.8396e+00 - acc: 0.1125 - val_loss: -2.9540e+00 - val_acc: 0.1000
Epoch 15/100
 - 0s - loss: -3.0903e+00 - acc: 0.1500 - val_loss: -3.3865e+00 - val_acc: 0.0333
Epoch 16/100
 - 0s - loss: -2.9973e+00 - acc: 0.1125 - val_loss: -1.8772e+00 - val_acc: 0.1667
Epoch 17/100
 - 0s - loss: -2.9656e+00 - acc: 0.1875 - val_loss: -3.7354e+00 - val_acc: 0.0667
Epoch 18/100
 - 0s - loss: -2.8980e+00 - acc: 0.1500 - val_loss: -3.2077e+00 - val_acc: 0.0667
Epoch 19/100
 - 0s - loss: -3.2970e+00 - acc: 0.1625 - val_loss: -1.2989e+00 - val_acc: 0.1000
Epoch 20/100
 - 0s - loss: -3.4754e+00 - acc: 0.2500 - val_loss: -3.0909e+00 - val_acc: 0.0667
Epoch 21/100
 - 0s - loss: -3.8178e+00 - acc: 0.1750 - val_loss: -2.0699e+00 - val_acc: 0.1000
Epoch 22/100
 - 0s - loss: -3.9034e+00 - acc: 0.2500 - val_loss: -3.7674e+00 - val_acc: 0.0667
Epoch 23/100
 - 0s - loss: -3.5742e+00 - acc: 0.1250 - val_loss: -1.6861e+00 - val_acc: 0.1000
Epoch 24/100
 - 0s - loss: -3.8550e+00 - acc: 0.2625 - val_loss: -3.3139e+00 - val_acc: 0.0667
Epoch 25/100
 - 0s - loss: -3.7161e+00 - acc: 0.1875 - val_loss: -2.7676e+00 - val_acc: 0.1000
Epoch 26/100
 - 0s - loss: -4.1403e+00 - acc: 0.2250 - val_loss: -3.3773e+00 - val_acc: 0.1000
Epoch 27/100
 - 0s - loss: -4.1100e+00 - acc: 0.2125 - val_loss: -2.8200e+00 - val_acc: 0.1000
Epoch 28/100
 - 0s - loss: -4.2373e+00 - acc: 0.2125 - val_loss: -3.0132e+00 - val_acc: 0.1000
Epoch 29/100
 - 0s - loss: -4.3543e+00 - acc: 0.2375 - val_loss: -1.4798e+00 - val_acc: 0.1000
Epoch 30/100
 - 0s - loss: -4.3296e+00 - acc: 0.2750 - val_loss: -3.2910e+00 - val_acc: 0.1000
Epoch 31/100
 - 0s - loss: -4.3651e+00 - acc: 0.2375 - val_loss: -1.8603e+00 - val_acc: 0.1667
Epoch 32/100
 - 0s - loss: -4.0967e+00 - acc: 0.2875 - val_loss: -2.7122e+00 - val_acc: 0.1000
Epoch 33/100
 - 0s - loss: -3.7484e+00 - acc: 0.2000 - val_loss: -2.4151e+00 - val_acc: 0.1667
Epoch 34/100
 - 0s - loss: -3.8960e+00 - acc: 0.2375 - val_loss: -2.0907e+00 - val_acc: 0.1000
Epoch 35/100
 - 0s - loss: -4.1293e+00 - acc: 0.2625 - val_loss: -3.3608e+00 - val_acc: 0.1000
Epoch 36/100
 - 0s - loss: -3.8706e+00 - acc: 0.1875 - val_loss: 0.4984 - val_acc: 0.1667
Epoch 37/100
 - 0s - loss: -3.8356e+00 - acc: 0.3000 - val_loss: -2.6064e+00 - val_acc: 0.1333
Epoch 38/100
 - 0s - loss: -4.3952e+00 - acc: 0.1750 - val_loss: 1.5926 - val_acc: 0.2333
Epoch 39/100
 - 0s - loss: -3.4925e+00 - acc: 0.3250 - val_loss: -4.7697e+00 - val_acc: 0.0667
Epoch 40/100
 - 0s - loss: -3.1948e+00 - acc: 0.1375 - val_loss: -2.5872e+00 - val_acc: 0.1333
Epoch 41/100
 - 0s - loss: -4.4511e+00 - acc: 0.2500 - val_loss: -1.0228e+00 - val_acc: 0.2000
Epoch 42/100
 - 0s - loss: -4.4669e+00 - acc: 0.3125 - val_loss: -2.5137e+00 - val_acc: 0.1333
Epoch 43/100
 - 0s - loss: -4.5539e+00 - acc: 0.3000 - val_loss: -2.1863e+00 - val_acc: 0.1333
Epoch 44/100
 - 0s - loss: -4.6658e+00 - acc: 0.3000 - val_loss: -2.1846e+00 - val_acc: 0.1333
Epoch 45/100
 - 0s - loss: -4.7724e+00 - acc: 0.2875 - val_loss: -6.8821e-01 - val_acc: 0.1333
Epoch 46/100
 - 0s - loss: -4.2234e+00 - acc: 0.3125 - val_loss: -3.0938e+00 - val_acc: 0.1667
Epoch 47/100
 - 0s - loss: -4.5937e+00 - acc: 0.2875 - val_loss: -7.2464e-01 - val_acc: 0.1000
Epoch 48/100
 - 0s - loss: -3.9557e+00 - acc: 0.3125 - val_loss: -3.1978e+00 - val_acc: 0.1333
Epoch 49/100
 - 0s - loss: -4.4588e+00 - acc: 0.2750 - val_loss: -1.5524e+00 - val_acc: 0.1333
Epoch 50/100
 - 0s - loss: -4.8593e+00 - acc: 0.3125 - val_loss: -6.2864e-01 - val_acc: 0.2333
Epoch 51/100
 - 0s - loss: -4.5922e+00 - acc: 0.3125 - val_loss: -1.9370e+00 - val_acc: 0.1667
Epoch 52/100
 - 0s - loss: -4.5806e+00 - acc: 0.3000 - val_loss: -2.6511e+00 - val_acc: 0.1333
Epoch 53/100
 - 0s - loss: -4.8664e+00 - acc: 0.3125 - val_loss: -2.3604e+00 - val_acc: 0.1333
Epoch 54/100
 - 0s - loss: -5.0971e+00 - acc: 0.3125 - val_loss: -1.3724e+00 - val_acc: 0.1667
Epoch 55/100
 - 0s - loss: -4.8575e+00 - acc: 0.3375 - val_loss: -3.7647e+00 - val_acc: 0.2333
Epoch 56/100
 - 0s - loss: -4.2310e+00 - acc: 0.2500 - val_loss: -1.9509e+00 - val_acc: 0.2000
Epoch 57/100
 - 0s - loss: -4.7136e+00 - acc: 0.2750 - val_loss: 0.2269 - val_acc: 0.2333
Epoch 58/100
 - 0s - loss: -4.5356e+00 - acc: 0.3625 - val_loss: -1.8609e+00 - val_acc: 0.1000
Epoch 59/100
 - 0s - loss: -4.1393e+00 - acc: 0.2750 - val_loss: -1.5559e+00 - val_acc: 0.1333
Epoch 60/100
 - 0s - loss: -4.3506e+00 - acc: 0.3000 - val_loss: -1.3954e+00 - val_acc: 0.1333
Epoch 61/100
 - 0s - loss: -4.4000e+00 - acc: 0.3375 - val_loss: -1.6211e+00 - val_acc: 0.1667
Epoch 62/100
 - 0s - loss: -4.2202e+00 - acc: 0.3125 - val_loss: -2.0700e+00 - val_acc: 0.1333
Epoch 63/100
 - 0s - loss: -4.2454e+00 - acc: 0.3125 - val_loss: -8.9125e-01 - val_acc: 0.2000
Epoch 64/100
 - 0s - loss: -4.5095e+00 - acc: 0.3500 - val_loss: -1.2739e+00 - val_acc: 0.1333
Epoch 65/100
 - 0s - loss: -4.6401e+00 - acc: 0.3375 - val_loss: -1.4698e+00 - val_acc: 0.1333
Epoch 66/100
 - 0s - loss: -4.5522e+00 - acc: 0.3250 - val_loss: -1.0251e+00 - val_acc: 0.1333
Epoch 67/100
 - 0s - loss: -4.6838e+00 - acc: 0.3500 - val_loss: -1.2533e+00 - val_acc: 0.1667
Epoch 68/100
 - 0s - loss: -5.0327e+00 - acc: 0.3750 - val_loss: -1.5497e+00 - val_acc: 0.1333
Epoch 69/100
 - 0s - loss: -5.0090e+00 - acc: 0.3625 - val_loss: -1.4918e+00 - val_acc: 0.1333
Epoch 70/100
 - 0s - loss: -5.0397e+00 - acc: 0.3750 - val_loss: -1.4820e+00 - val_acc: 0.1333
Epoch 71/100
 - 0s - loss: -5.0400e+00 - acc: 0.3750 - val_loss: -1.4739e+00 - val_acc: 0.1333
Epoch 72/100
 - 0s - loss: -5.0402e+00 - acc: 0.3750 - val_loss: -1.4669e+00 - val_acc: 0.1333
Epoch 73/100
 - 0s - loss: -5.0403e+00 - acc: 0.3750 - val_loss: -1.4606e+00 - val_acc: 0.1333
Epoch 74/100
 - 0s - loss: -5.0404e+00 - acc: 0.3750 - val_loss: -1.4547e+00 - val_acc: 0.1333
Epoch 75/100
 - 0s - loss: -5.0405e+00 - acc: 0.3750 - val_loss: -1.4492e+00 - val_acc: 0.1333
Epoch 76/100
 - 0s - loss: -5.0405e+00 - acc: 0.3750 - val_loss: -1.4440e+00 - val_acc: 0.1333
Epoch 77/100
 - 0s - loss: -5.0406e+00 - acc: 0.3750 - val_loss: -1.4389e+00 - val_acc: 0.1333
Epoch 78/100
 - 0s - loss: -5.0406e+00 - acc: 0.3750 - val_loss: -1.4341e+00 - val_acc: 0.1333
Epoch 79/100
 - 0s - loss: -5.0407e+00 - acc: 0.3750 - val_loss: -1.4295e+00 - val_acc: 0.1333
Epoch 80/100
 - 0s - loss: -5.0407e+00 - acc: 0.3750 - val_loss: -1.4251e+00 - val_acc: 0.1333
Epoch 81/100
 - 0s - loss: -5.0407e+00 - acc: 0.3750 - val_loss: -1.4209e+00 - val_acc: 0.1333
Epoch 82/100
 - 0s - loss: -5.0407e+00 - acc: 0.3750 - val_loss: -1.4168e+00 - val_acc: 0.1333
Epoch 83/100
 - 0s - loss: -5.0408e+00 - acc: 0.3750 - val_loss: -1.4128e+00 - val_acc: 0.1333
Epoch 84/100
 - 0s - loss: -5.0408e+00 - acc: 0.3750 - val_loss: -1.4090e+00 - val_acc: 0.1333
Epoch 85/100
 - 0s - loss: -5.0408e+00 - acc: 0.3750 - val_loss: -1.4053e+00 - val_acc: 0.1333
Epoch 86/100
 - 0s - loss: -5.0408e+00 - acc: 0.3750 - val_loss: -1.4017e+00 - val_acc: 0.1333
Epoch 87/100
 - 0s - loss: -5.0408e+00 - acc: 0.3750 - val_loss: -1.3982e+00 - val_acc: 0.1333
Epoch 88/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3948e+00 - val_acc: 0.1333
Epoch 89/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3915e+00 - val_acc: 0.1333
Epoch 90/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3882e+00 - val_acc: 0.1333
Epoch 91/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3851e+00 - val_acc: 0.1333
Epoch 92/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3820e+00 - val_acc: 0.1333
Epoch 93/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3790e+00 - val_acc: 0.1333
Epoch 94/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3761e+00 - val_acc: 0.1333
Epoch 95/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3732e+00 - val_acc: 0.1333
Epoch 96/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3706e+00 - val_acc: 0.1333
Epoch 97/100
 - 0s - loss: -5.0409e+00 - acc: 0.3750 - val_loss: -1.3680e+00 - val_acc: 0.1333
Epoch 98/100
 - 0s - loss: -5.0410e+00 - acc: 0.3750 - val_loss: -1.3655e+00 - val_acc: 0.1333
Epoch 99/100
 - 0s - loss: -5.0410e+00 - acc: 0.3750 - val_loss: -1.3630e+00 - val_acc: 0.1333
Epoch 100/100
 - 0s - loss: -5.0410e+00 - acc: 0.3750 - val_loss: -1.3606e+00 - val_acc: 0.1333
3/3 [==============================] - 0s 334us/step

In [77]:
score

[-1.3606109619140625, 0.13333334028720856]

### Nils

In [79]:
model = Sequential()

#Optimizer
sgd = optimizers.SGD(lr=0.001, decay=1e-6, momentum=0.6, nesterov=True)

#Input Layer
model.add(Dense(nb_classes, input_shape=(dims,), activation="softmax"))#LeakyReLU(alpha=0.3)

#Hidden Layers
model.add(Dense(300, activation=LeakyReLU(alpha=0.3), use_bias=True))
model.add(Dropout(0.4))
model.add(Dense(500, activation="relu", use_bias=True))
model.add(Dropout(0.5))
model.add(Dense(300, activation="relu", use_bias=True))
#model.add(Activation('softplus'))

#Output Layer
model.add(Dense(nb_classes, activation="sigmoid"))


model.compile(optimizer="sgd", loss='binary_crossentropy', metrics=["accuracy"])

model.fit(X_train, y_train, validation_data = (X_val, y_val), epochs=30, 
          batch_size=128, verbose=True)

score = model.evaluate(X_val, y_val,verbose=1)

C:\Users\Nils\Anaconda3\lib\site-packages\keras\activations.py:103: UserWarning: Do not pass a layer instance (such as LeakyReLU) as the activation argument of another layer. Instead, advanced activation layers should be used just like any other layer in a model.
  ).format(identifier=identifier.__class__.__name__))

Train on 79 samples, validate on 20 samples
Epoch 1/30
79/79 [==============================] - 1s 13ms/step - loss: 0.6909 - acc: 0.2278 - val_loss: 0.6894 - val_acc: 0.2000
Epoch 2/30
79/79 [==============================] - 0s 202us/step - loss: 0.6894 - acc: 0.2186 - val_loss: 0.6891 - val_acc: 0.2000
Epoch 3/30
79/79 [==============================] - 0s 380us/step - loss: 0.6903 - acc: 0.2221 - val_loss: 0.6887 - val_acc: 0.1864
Epoch 4/30
79/79 [==============================] - 0s 329us/step - loss: 0.6891 - acc: 0.2083 - val_loss: 0.6884 - val_acc: 0.1727
Epoch 5/30
79/79 [==============================] - 0s 380us/step - loss: 0.6889 - acc: 0.2048 - val_loss: 0.6880 - val_acc: 0.1591
Epoch 6/30
79/79 [==============================] - 0s 380us/step - loss: 0.6885 - acc: 0.1933 - val_loss: 0.6877 - val_acc: 0.1455
Epoch 7/30
79/79 [==============================] - 0s 392us/step - loss: 0.6899 - acc: 0.1772 - val_loss: 0.6873 - val_acc: 0.1409
Epoch 8/30
79/79 [==============================] - 0s 354us/step - loss: 0.6887 - acc: 0.1910 - val_loss: 0.6870 - val_acc: 0.1318
Epoch 9/30
79/79 [==============================] - 0s 304us/step - loss: 0.6889 - acc: 0.1853 - val_loss: 0.6866 - val_acc: 0.1227
Epoch 10/30
79/79 [==============================] - 0s 304us/step - loss: 0.6867 - acc: 0.1910 - val_loss: 0.6863 - val_acc: 0.1227
Epoch 11/30
79/79 [==============================] - 0s 519us/step - loss: 0.6871 - acc: 0.1784 - val_loss: 0.6860 - val_acc: 0.1227
Epoch 12/30
79/79 [==============================] - 0s 279us/step - loss: 0.6863 - acc: 0.1715 - val_loss: 0.6856 - val_acc: 0.1182
Epoch 13/30
79/79 [==============================] - 0s 266us/step - loss: 0.6867 - acc: 0.1554 - val_loss: 0.6853 - val_acc: 0.1136
Epoch 14/30
79/79 [==============================] - 0s 329us/step - loss: 0.6868 - acc: 0.1692 - val_loss: 0.6849 - val_acc: 0.1136
Epoch 15/30
79/79 [==============================] - 0s 354us/step - loss: 0.6860 - acc: 0.1530 - val_loss: 0.6846 - val_acc: 0.1136
Epoch 16/30
79/79 [==============================] - 0s 292us/step - loss: 0.6867 - acc: 0.1646 - val_loss: 0.6843 - val_acc: 0.1136
Epoch 17/30
79/79 [==============================] - 0s 254us/step - loss: 0.6864 - acc: 0.1496 - val_loss: 0.6839 - val_acc: 0.1136
Epoch 18/30
79/79 [==============================] - 0s 316us/step - loss: 0.6857 - acc: 0.1346 - val_loss: 0.6836 - val_acc: 0.1136
Epoch 19/30
79/79 [==============================] - 0s 354us/step - loss: 0.6852 - acc: 0.1335 - val_loss: 0.6832 - val_acc: 0.1136
Epoch 20/30
79/79 [==============================] - 0s 253us/step - loss: 0.6847 - acc: 0.1427 - val_loss: 0.6829 - val_acc: 0.1045
Epoch 21/30
79/79 [==============================] - 0s 241us/step - loss: 0.6844 - acc: 0.1231 - val_loss: 0.6826 - val_acc: 0.0955
Epoch 22/30
79/79 [==============================] - 0s 291us/step - loss: 0.6831 - acc: 0.1208 - val_loss: 0.6822 - val_acc: 0.0909
Epoch 23/30
79/79 [==============================] - 0s 279us/step - loss: 0.6850 - acc: 0.1220 - val_loss: 0.6819 - val_acc: 0.0909
Epoch 24/30
79/79 [==============================] - 0s 279us/step - loss: 0.6834 - acc: 0.1300 - val_loss: 0.6815 - val_acc: 0.0864
Epoch 25/30
79/79 [==============================] - 0s 278us/step - loss: 0.6837 - acc: 0.1300 - val_loss: 0.6812 - val_acc: 0.0864
Epoch 26/30
79/79 [==============================] - 0s 291us/step - loss: 0.6847 - acc: 0.0967 - val_loss: 0.6808 - val_acc: 0.0864
Epoch 27/30
79/79 [==============================] - 0s 291us/step - loss: 0.6818 - acc: 0.1174 - val_loss: 0.6805 - val_acc: 0.0727
Epoch 28/30
79/79 [==============================] - 0s 253us/step - loss: 0.6827 - acc: 0.0955 - val_loss: 0.6801 - val_acc: 0.0727
Epoch 29/30
79/79 [==============================] - 0s 228us/step - loss: 0.6821 - acc: 0.0944 - val_loss: 0.6798 - val_acc: 0.0727
Epoch 30/30
79/79 [==============================] - 0s 279us/step - loss: 0.6809 - acc: 0.1013 - val_loss: 0.6795 - val_acc: 0.0727
20/20 [==============================] - 0s 350us/step

In [95]:
score

[-8.998761177062988, 0.0]

In [135]:
X[0]

array([  5.51000000e+02,   8.21914827e-02,   2.06793140e-01,
        -1.01450000e-02,   4.14600000e-02,   2.13785000e-01,
         7.24430000e-01,  -6.32340000e-01,   0.00000000e+00,
        -2.09731234e-02,  -8.05570083e-03,   8.47804836e-03,
         1.46592056e-02,   1.89255091e-02,   3.33283517e-02,
         6.40083466e-03,   3.84833470e-02,   1.26254066e-02,
        -6.53170186e-03,   3.51000000e+02,  -6.38005924e-05,
         2.54183595e-01,  -1.81920000e-01,  -3.94000000e-02,
         2.19880000e-01,   6.17980000e-01,  -6.99633333e-01,
         0.00000000e+00,  -2.09731234e-02,  -8.05570083e-03,
         8.47804836e-03,   1.46592056e-02,   1.89255091e-02,
         3.33283517e-02,   6.40083466e-03,   3.84833470e-02,
         1.26254066e-02,  -6.53170186e-03,   2.04900000e+03,
         7.03780595e-02,   2.13552659e-01,  -2.62300000e-02,
         3.96700000e-02,   2.10740000e-01,   7.28870000e-01,
        -9.91700000e-01,   0.00000000e+00,  -2.09731234e-02,
        -8.05570083e-03,   8.47804836e-03,   1.46592056e-02,
         1.89255091e-02,   3.33283517e-02,   6.40083466e-03,
         3.84833470e-02,   1.26254066e-02,  -6.53170186e-03,
         4.72000000e+02,   1.45661004e-02,   1.64032862e-01,
        -9.10800000e-02,  -1.17700000e-02,   1.23552500e-01,
         7.12400000e-01,  -3.89040000e-01,   0.00000000e+00,
        -2.09731234e-02,  -8.05570083e-03,   8.47804836e-03,
         1.46592056e-02,   1.89255091e-02,   3.33283517e-02,
         6.40083466e-03,   3.84833470e-02,   1.26254066e-02,
        -6.53170186e-03,   1.87000000e+02,  -3.75146354e-02,
         2.59320365e-01,  -1.28840000e-01,   0.00000000e+00,
         9.49666667e-02,   5.70480000e-01,  -6.42300000e-01,
         0.00000000e+00,  -2.09731234e-02,  -8.05570083e-03,
         8.47804836e-03,   1.46592056e-02,   1.89255091e-02,
         3.33283517e-02,   6.40083466e-03,   3.84833470e-02,
         1.26254066e-02,  -6.53170186e-03,   6.50000000e+02,
        -6.25113858e-03,   2.09625492e-01,  -1.19880000e-01,
         0.00000000e+00,   1.06637500e-01,   6.17860000e-01,
        -5.64810000e-01,   0.00000000e+00,  -2.09731234e-02,
        -8.05570083e-03,   8.47804836e-03,   1.46592056e-02,
         1.89255091e-02,   3.33283517e-02,   6.40083466e-03,
         3.84833470e-02,   1.26254066e-02,  -6.53170186e-03,
         7.74000000e+02,  -4.18477858e-02,   2.29301451e-01,
        -2.38922500e-01,  -1.86700000e-02,   8.78242857e-02,
         8.68900000e-01,  -5.12460000e-01,   0.00000000e+00,
        -2.09731234e-02,  -8.05570083e-03,   8.47804836e-03,
         1.46592056e-02,   1.89255091e-02,   3.33283517e-02,
         6.40083466e-03,   3.84833470e-02,   1.26254066e-02,
        -6.53170186e-03,   8.60000000e+01,  -4.10000923e-03,
         2.14952272e-01,  -1.06870000e-01,  -2.13750000e-02,
         1.34747500e-01,   6.22220000e-01,  -6.32340000e-01,
         0.00000000e+00,  -2.09731234e-02,  -8.05570083e-03,
         8.47804836e-03,   1.46592056e-02,   1.89255091e-02,
         3.33283517e-02,   6.40083466e-03,   3.84833470e-02,
         1.26254066e-02,  -6.53170186e-03,   1.93000000e+03,
         1.01840820e-01,   1.76136785e-01,   0.00000000e+00,
         6.89700000e-02,   2.23507500e-01,   8.95700000e-01,
        -6.47550000e-01,   0.00000000e+00,  -2.09731234e-02,
        -8.05570083e-03,   8.47804836e-03,   1.46592056e-02,
         1.89255091e-02,   3.33283517e-02,   6.40083466e-03,
         3.84833470e-02,   1.26254066e-02,  -6.53170186e-03,
         2.50000000e+02,  -1.63901268e-01,   2.65495952e-01,
        -3.77560000e-01,  -2.37110000e-01,   0.00000000e+00,
         6.50210000e-01,  -7.05160000e-01,   0.00000000e+00,
        -2.09731234e-02,  -8.05570083e-03,   8.47804836e-03,
         1.46592056e-02,   1.89255091e-02,   3.33283517e-02,
         6.40083466e-03,   3.84833470e-02,   1.26254066e-02,
        -6.53170186e-03])

In [58]:
E = model.predict(X[0].reshape(1,90))
E

array([[0.0000000e+00, 1.0000000e+00, 1.2261952e-27, 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 6.2738419e-01, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00]], dtype=float32)

In [59]:
Y[0]

array([-0.01721889, -0.05705099, -0.01746398, -0.00918132,  0.00061175,
        0.00181067,  0.00350719, -0.0202173 ,  0.        , -0.01004057])

In [139]:
EY[0]

array([[ 0.04923758,  0.05990248,  0.12029236,  0.14767935,  0.1304228 ,
         0.04514487,  0.12636857,  0.00601043,  0.12278158,  0.1271591 ]])